<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="no-referrer">
    <link rel="shortcut icon" href="{{img 'spider.png'}}" type="image/x-icon">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{css 'custom.css'}}">
</head>

<body>
    <div class="loading-overlay" id="loadingOverlay">
        <nav class="loading-nav">
            <a href="https://t.me/+CF_w7l2p1zFlMWIx" target="_blank" rel="noopener noreferrer">
                <img src="{{img 'logo.png'}}" alt="IMG">
            </a>
            <div class="status" id="status"></div>
        </nav>
    </div>
    {{{body}}}
    <footer class="footer">
        <p>&copy; {{currentYear}} Yakuza Team. All rights reserved.</p>
        <p>
            <a href="/privacy">Privacy Policy</a> |
            <a href="/tos">Terms of Service</a> |
            <a href="https://t.me/+CF_w7l2p1zFlMWIx" target="_blank" rel="noopener noreferrer">Contact Us</a>
        </p>
    </footer>
    <script src="{{js 'script.js'}}"></script>
</body>
</html>